<footer>
  <div class="footer-content">
    <div class="footer-top">
      <div class="column-1">
        <div class="app-logo">
          <img src="Logo.webp" alt="Traveloka" class="logo" />
        </div>
        <div class="partner-logo">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>Hợp tác với Traveloka</div>
        <div class="payment-partner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="column-2">
        <div class="about">
          <h3>Về Traveloka</h3>
          <ul>
            <li><a href="#">Cách đặt chỗ</a></li>
            <li><a href="#">Liên hệ chúng tôi</a></li>
            <li><a href="#">Trợ giúp</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Về chúng tôi</a></li>
          </ul>
        </div>
        <div class="follow">
          <h3>Theo dõi chúng tôi trên</h3>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">TikTok</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Telegram</a></li>
          </ul>
        </div>
    </div>
    <div class="column-3">
      <div class="product">
        <h3>Sản phẩm</h3>
        <ul>
          <li><a href="#">Khách sạn</a></li>
          <li><a href="#">Vé máy bay</a></li>
          <li><a href="#">Vé xe khách</a></li>
          <li><a href="#">Đưa đón sân bay</a></li>
          <li><a href="#">Cho thuê xe</a></li>
          <li><a href="#">Hoạt động & Vui chơi</a></li>
          <li><a href="#">Du thuyền</a></li>
          <li><a href="#">Biệt thự</a></li>
          <li><a href="#">Căn hộ</a></li>
        </ul>
      </div>
    </div>
    <div class="column-4">
      <div class="More">
        <h3>Khác</h3>
        <ul>
          <li><a href="#">Traveloka Affiliate</a></li>
          <li><a href="#">Traveloka Blog</a></li>
          <li><a href="#">Chính Sách Quyền Riêng</a></li>
          <li><a href="#">Điều khoản & Điều kiện</a></li>
          <li><a href="#">Đăng ký nơi nghỉ của bạn</a></li>
          <li><a href="#">Đăng ký doanh nghiệp hoạt động du lịch của bạn</a></li>
          <li><a href="#">Khu vực báo chí</a></li>
          <li><a href="#">Quy chế hoạt động</a></li>
          <li><a href="#">Vulnerability Disclosure Program</a></li>
          <li><a href="#">APAC Travel Insights</a></li>
        </ul>
      </div>
      <div class="download">
        <h3>Tải ứng dụng Traveloka</h3>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="company-info">
        Công ty TNHH Traveloka Việt Nam. Mã số DN: 0313581779. Tòa nhà An Phú,
        117-119 Lý Chính Thắng, Phường Xuân Hòa, TP.HCM
      </div>
      <div class="copyright">
        Copyright © 2025 Traveloka. All rights reserved
      </div>
    </div>
  </div>
</footer>
