# ==========================
# ANGULAR
# ==========================
node_modules/
dist/
out-tsc/
.angular/
.env
.env.*.local
.vscode/
*.log

# ==========================
# GO / GOLANG
# ==========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.mod
*.sum
/vendor/
coverage.*
*.coverprofile

# If you're using GoLand / VSCode
.idea/
*.iml
*.code-workspace

# ==========================
# ANDROID / JETPACK COMPOSE
# ==========================
*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.idea/
local.properties
.DS_Store
*.log
*.hprof

# Android Studio specific
.cxx/
*.apk
*.ap_
*.keystore

# Kotlin specific
*.kotlin_module

# NDK
obj/

# Unit test reports
test-results/
lint/intermediates/
lint/generated/


Thumbs.db
ehthumbs.db
*.swp
*.swo
*.DS_Store
*.bak
*.tmp
